<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chris.treballengrup">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GRAN CENTRE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Hoteles" />
        <activity android:name=".Restaurante" />
        <activity android:name=".Movies" />
        <activity android:name=".Events" />
        <activity android:name=".business" />
        <activity android:name=".business2" />
        <activity android:name=".business3" />
        <activity android:name=".business4" />
        <activity android:name=".Wheather"/>
    </application>

</manifest>